<app-layout>
  <div class="main-content" *ngIf="card; else noContent">
    <img [src]="capa" [alt]="alt" class="album-cover">

    <div class="album-header">
      <div class="album-info">
        <h3>{{ title }}</h3>
        <h4>{{ banda }}</h4>
        <p class="release-date referencia white">Released: {{ releaseDate | date:'mediumDate' }}</p>
      </div>

      <div class="album-description">
        <h4>About the Album</h4>
        <p class="referencia white">{{ description }}</p>
      </div>

      <div class="track-list">
        <h4>Track list</h4>
        <ol class="ordered-list">
          <li class="white referencia" *ngFor="let track of card.tracks">{{ track }}</li>
        </ol>
      </div>
    </div>
  </div>

  <ng-template #noContent>
    <div class="error-container">
      <h2>Album not found</h2>
      <p>Sorry, we couldn't find the album you're looking for.</p>
      <a [routerLink]="['']">Return to Home</a>
    </div>
  </ng-template>
</app-layout>

