<div class="menu-bar-principal">
  <div class="menu-bar-title">
    <img ngSrc="{{ logoImage }}" width="40" height="40" loading="lazy" alt="Logo Musika's" />
    <h2>Musikas</h2>
  </div>

  <ul class="menu-bar-item">
    <li>
      <a href="https://www.billboard.com/charts/hot-100/">Top Músicas</a>
    </li>
    <li>
      <a href="https://www.billboard.com/charts/billboard-200/">Top Albuns</a>
    </li>
    <li>
      <a href="https://www.billboard.com/charts/artist-100/">Top Artistas</a>
    </li>
  </ul>
</div>
